.exerciseCard {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
}

.cardButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.exerciseCard:hover {
    transform: translateY(-4px);
}

.exerciseCard h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.exerciseCard p {
    font-size: 0.9rem;
    color: #555;
}
