.categoryCard {
    background: white;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.2s;
}

.categoryCard:hover {
    transform: translateY(-3px);
}

/* Button container at the bottom */
.buttonRow {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.categoryCard h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.deleteButton {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 0.3rem 0.6rem;
    cursor: pointer;
    font-size: 0.8rem;
}

.deleteButton:hover {
    background-color: darkred;
}
