.themeContainer{
    display: flex;
    flex-direction: column;
    width: 70vw;
    justify-items: center;
    gap: 10px;
}

.centeringContainer{
    justify-items: center;
}

.pageContainer{
     display: flex;
     flex-direction: column;
     align-items: center; /* centers children horizontally */
     padding: 20px;
     width: 100%;
}

/* ComentsPage.module.css */

.fadeDown {
    animation: fadeDown 0.6s ease-out forwards;
    opacity: 0; /* start invisible */
    transform: translateY(-20px); /* start slightly above */
}

@keyframes fadeDown {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
